<header class="header">
    <div class="">
      <div class="landing-page-desk-menu bg-[#20043b] h-screen text-white font-giloryBold text-2xl w-52 text-center pt-14 hidden lg:block">
        <div class="row menu-btns">
          <div class="column last-child">
            <div class="bg-[#E5376C] max-w-[143px] text-[18px] rounded-[50px] py-2 mx-auto mb-2">
              <a class="block" href="https://slotsstg.wpengine.com/#register">Join now!</a>
            </div>
            <div class="bg-[#E5376C] max-w-[143px] text-[18px] rounded-[50px] py-2 mx-auto">
                <a class="block" href="https://slotsstg.wpengine.com/#login">Login</a>
            </div>
          </div>
        </div>

        <div class="row menu-links mt-6">
          <div class="flex flex-col space-y-4">
              <div><a href="https://slotsstg.wpengine.com/#register">Slots</a></div>
              <div><a href="https://slotsstg.wpengine.com/#register">Blackjack</a></div>
              <div><a href="https://slotsstg.wpengine.com/#register">Video poker</a></div>
              <div><a href="https://slotsstg.wpengine.com/#register">Roulette</a></div>
              <div><a href="https://slotsstg.wpengine.com/#register">Live Dealer</a></div>
          </div>
        </div>
      </div>


      <!--Mobile Meny -->


      <div class="section landing-page-menu text-white font-giloryBold text-2xl block lg:hidden">
        <div class="row tab-row landing-tab-row flex justify-between items-center px-8 bg-[#20043b] h-[70px]">
          <div class="w-1/3" id="slide-column">
            <div id="slide-in-open" class="slide-open-menu cursor-pointer">
                <span id="line1" class="line bg-[#E4376C] w-8 h-1 rounded-lg block mb-1"></span>
                <span id="line2" class="line bg-[#E4376C] w-6 h-1 rounded-lg block mb-1"></span>
                <span id="line3" class="line bg-[#E4376C] w-8 h-1 rounded-lg block mb-1"></span>
              </div>
          </div>
      
          <div class="w-3/4">
            <div class="tab-btns flex space-x-2 justify-end">
              <div class="bg-[#E5376C] w-[200px] text-[18px] rounded-[50px] py-2 text-center">
                <a class="block" href="https://slotsstg.wpengine.com/#register">Join now!</a>
              </div>
              <div class="bg-[#E5376C] w-[200px] text-[18px] rounded-[50px] py-2 text-center">
                <a class="block" href="https://slotsstg.wpengine.com/#login">Login</a>
              </div>
            </div>
          </div>
        </div>
      
        <div class="row slide-in-menu-container bg-[#20043b] w-full sm:pl-4 sm:h-screen overflow-hidden transition-transform transform translate-x-[-100%] absolute sm:w-[362px] z-50">
          <div id="slide-column" class="slot-left-menu">
            <div class="menu__menu">
              <nav class="menu-nav">
                <ul class="menu nav flex flex-col space-y-4 text-center sm:text-left">
                  <li class= "border-b border-[#4B1E5E] py-3 sm:border-none"><a href="https://slotsstg.wpengine.com/#register">Slots</a></li>
                  <li class= "border-b border-[#4B1E5E] py-3 sm:border-none"><a href="https://slotsstg.wpengine.com/#register">Blackjack</a></li>
                  <li class= "border-b border-[#4B1E5E] py-3 sm:border-none"><a href="https://slotsstg.wpengine.com/#register">Video poker</a></li>
                  <li class= "border-b border-[#4B1E5E] py-3 sm:border-none"><a href="https://slotsstg.wpengine.com/#register">Roulette</a></li>
                  <li class= "border-b border-[#4B1E5E] py-3 sm:border-none"><a href="https://slotsstg.wpengine.com/#register">Live Dealer</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
      </div>
      </header>
      
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          var slideOpen = document.getElementById("slide-in-open");
          var slideMenuContainer = document.querySelector(".slide-in-menu-container");
          var line1 = document.getElementById("line1");
          var line2 = document.getElementById("line2");
          var line3 = document.getElementById("line3");
      
          slideOpen.addEventListener("click", function () {
            slideMenuContainer.classList.toggle("translate-x-[-100%]");
      
            // Toggle open class on hamburger icon
            slideOpen.classList.toggle("open");
      
            // Toggle cross shape on lines
            if (slideOpen.classList.contains("open")) {
              line1.classList.add("rotate-45", "translate-y-1");
              line2.classList.add("opacity-0");
              line3.classList.add("-rotate-45", "-translate-y-3");
            } else {
              line1.classList.remove("rotate-45", "translate-y-1");
              line2.classList.remove("opacity-0");
              line3.classList.remove("-rotate-45", "-translate-y-3");
            }
          });
        });
      </script>