<section class="popup w-11/12 lg:w-1/2 bg-white fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 hidden transition-all" id="popup-section">
  <div class="popup__content overflow-auto px-2 py-4 sm:p-12 text-black">
      <div class="close absolute right-5 top-5 block cursor-pointer" id="closeButton">
          <p class="font-bold absolute top-[-10px]"> &#x2715; </p>
      </div>
      Bonus 250%
      Playthrough 30x
      Minimum deposit $50
      Maximum bonus $2,500
      Maximum cash out amount $5,000
      • The 250% match bonus is for new members and is applicable to their first deposit.
      Add this bonus to your account by selecting promo code WELCOME1, after making your deposit.
      • Attempting to cash out your initial deposit plus bonus amount without having bet the funds is not allowed.
      • Only one player account per person is allowed. Players who are found to register multiple accounts in order to redeem this bonus will not be eligible to receive any winnings, and all cash outs will be cancelled and the accounts related, closed.
      • Management reserves the right to modify or cancel this promotion at any time. General house rules/terms and conditions apply.
  </div>
</section>