---
import NewsArchive from '../NewsArchive.astro';

const { node } = Astro.props;




//console.log(node.children.edges[0].node.posts.edges[0].node.title);


---     
 <h1>{node.name} - Archive</h1>

 <!-- {node.posts.nodes.map(post => {
    return (
        <PostCard post={post}></PostCard>
    )
})} 
 -->

{ node.children.edges.map(childEdge =>
  childEdge.node.posts.edges.map(post =>{
    return (
        <NewsArchive post= {post}></NewsArchive >
    )
  }
    
  )
)}