---
import CasinoSchoolSidebar from "../CasinoSchoolSidebar.astro";
const { node } = Astro.props;
--- 

<div class="main_container">
    <div class="header-background bg-[url('https://slotsparadise.com/wp-content/uploads/2022/08/casino-guides-header-v23.jpg')] bg-cover bg-center h-52 flex items-center text-white font-giloryRegular">
        <div class="header-content-row w-[80%] mx-auto">
            <div class="page-title">
                <h1 class="entry-title text-2xl md:text-3xl font-giloryExtrabold mb-2">{node.title}</h1>
            </div>
        </div>
    </div>
    
    <div class="casino_school_main  max-w-[1440px] w-4/5 mx-auto px-2 mt-10 font-giloryRegular">
        <div class="post-bread font-semibold">
            <div class=""><p><span><span><a href="https://slotsparadise.com/the-beach/">Home</a></span> &gt; 
                <span><a href="https://slotsparadise.com/the-beach/news/">Casino School</a></span> &gt;  
                <span class="breadcrumb_last font-giloryExtrabold" aria-current="page"><strong>{node.title}</strong></span></span></p>
            </div>
        </div>
        
        
        
        <div class="casino_single_container mt-10 font-giloryRegular font-semibold">
            <div class="inner_container flex flex-col md:flex-row justify-between">
                <CasinoSchoolSidebar />
                <div class="content-container w-full md:w-3/5 mt-5 md:mt-0">
                    <h1 class="text-[#ff688b] font-giloryExtrabold">{node.title}</h1>  
                    <article set:html={node.content}>
                    </article>                            
                </div>
            </div>
        </div>
    </div>
</div>

