---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import { wpquery } from "../data/wordpress";

const data = await wpquery({
  query: `
  query GetPostsEdges {
  posts {
    edges {
      node {
        id
        title
        date
      }
    }
  }
}`,
});

//console.log(data.posts.edges);
---

<section class="recommended_block max-w-[1440px] mx-auto px-4 my-16">
  
</section>
