---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import { wpquery } from "../data/wordpress";

const data = await wpquery({
  query: `
  {
  nodeByUri(uri: "/") {
    __typename
    ... on ContentType {
      id
      name
    }
    ... on Page {
      id
      title
      content(format: RENDERED)
    }
  }
}`,
});
---

<body>
  <div>
    {data.nodeByUri.content}
  </div>
</body>
