---
import { Image } from "astro:assets";
---

<section class="promos max-w-[1440px] mx-auto px-4">

    <div class="promos_title"><h2 class="text-[#ff688b] pb-3 font-medium font-giloryExtrabold text-3xl">Promos</h2></div>

    
        <!-- Slider main container -->
<div class="swiper swiper2 bg-[#eee] text-[#51135a] rounded-[10px] pb-16">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
        <div class="swiper-slide">
            <div class="slide_content">
                <div>
                    <Image width="1440" height="440" alt="welcome bonus"  class="mob-promo w-full object-cover hidden sm:block" 
                    src="https://slotsstg.wpengine.com/wp-content/uploads/2022/08/promotions-page-desk-slider.jpg" title="welcome bonus">
                    <Image width="870" height="300" alt="welcome bonus"  class="mob-promo w-full object-cover block sm:hidden" 
                    src="https://slotsstg.wpengine.com/wp-content/uploads/2022/08/promotions-page-mob-slider.jpg" title="welcome bonus">
                </div>
                <h3 class="text-center text-2xl font-giloryExtrabold py-4">Welcome Bonus</h3>
                <p class="text-base font-giloryRegular font-semibold text-center mb-5">Get a whopping 250% slots bonus up to $2,500 on your very first deposit. 30x playthrough on bonus amount and $5,000 maximum cash-out limit.
                     <br>Use code: <strong>WELCOME1</strong> Claim now and give your first steps into paradise!</p>
                <p class="text-center space-y-2"><a class="slide-btn-detail mx-2 bg-[#51135a] inline-block text-white text-lg px-12 py-2 rounded-[25px] font-giloryExtrabold font-semibold uppercase hover:bg-[#ff93aa] cursor-pointer transition-all" href="https://slotsstg.wpengine.com/promotions">Details</a> 
                    <a class="slide-btn-more mx-2 bg-[#a64485] inline-block text-white text-lg px-12 py-2 rounded-[25px] font-giloryExtrabold font-semibold uppercase hover:bg-[#ff93aa] cursor-pointer transition-all" href="https://slotsstg.wpengine.com/promotions">More promos</a>
                </p>
            </div>
        </div>

        <div class="swiper-slide">
            <div class="slide_content">
                <div>
                    <Image width="1440" height="440" alt="2nd Deposit Bonus"  class="mob-promo w-full object-cover hidden sm:block" 
                    src="https://slotsstg.wpengine.com/wp-content/uploads/2022/07/promotions-page-desk-slider2.jpg" title="2nd Deposit Bonus">
                    <Image width="870" height="300" alt="2nd Deposit Bonus"  class="mob-promo w-full object-cover block sm:hidden" 
                    src="https://slotsstg.wpengine.com/wp-content/uploads/2022/07/promotions-page-mob-slider2.jpg" title="2nd Deposit Bonus">
                </div>
                <h3 class="text-center text-2xl font-giloryExtrabold py-4">2nd Deposit Bonus</h3>
                <p class="text-base font-giloryRegular font-semibold text-center mb-5">Unplug from the routine for a while and treat yourself with extra funds that let you play longer and win bigger.<br>Use code <strong>WELCOME2</strong> to get a bonus of up to $1,500.</p>
                <p class="text-center space-y-2"><a class="slide-btn-detail mx-2 bg-[#51135a] inline-block text-white text-lg px-12 py-2 rounded-[25px] font-giloryExtrabold font-semibold uppercase hover:bg-[#ff93aa] cursor-pointer transition-all" href="https://slotsstg.wpengine.com/promotions">Details</a> 
                    <a class="slide-btn-more mx-2 bg-[#a64485] inline-block text-white text-lg px-12 py-2 rounded-[25px] font-giloryExtrabold font-semibold uppercase hover:bg-[#ff93aa] cursor-pointer transition-all" href="https://slotsstg.wpengine.com/promotions">More promos</a>
                </p>
            </div>
        </div>

        <div class="swiper-slide">
            <div class="slide_content">
                <div>
                    <Image width="1440" height="440" alt="3rd Deposit Bonus"  class="mob-promo w-full object-cover hidden sm:block" 
                    src="https://slotsstg.wpengine.com/wp-content/uploads/2022/07/promotions-page-desk-slider3.jpg" title="3rd Deposit Bonus">
                    <Image width="870" height="300" alt="3rd Deposit Bonus"  class="mob-promo w-full object-cover block sm:hidden" 
                    src="https://slotsstg.wpengine.com/wp-content/uploads/2022/07/promotions-page-mob-slider3.jpg" title="3rd Deposit Bonus">
                </div>
                <h3 class="text-center text-2xl font-giloryExtrabold py-4">3rd Deposit Bonus</h3>
                <p class="text-base font-giloryRegular font-semibold text-center mb-5">One isn’t enough? Relax and de-stress with another bonus up to $1,500. Use code <strong>WELCOME3.</strong></p>
                <p class="text-center space-y-2"><a class="slide-btn-detail mx-2 bg-[#51135a] inline-block text-white text-lg px-12 py-2 rounded-[25px] font-giloryExtrabold font-semibold uppercase hover:bg-[#ff93aa] cursor-pointer transition-all" href="https://slotsstg.wpengine.com/promotions">Details</a> 
                    <a class="slide-btn-more mx-2 bg-[#a64485] inline-block text-white text-lg px-12 py-2 rounded-[25px] font-giloryExtrabold font-semibold uppercase hover:bg-[#ff93aa] cursor-pointer transition-all" href="https://slotsstg.wpengine.com/promotions">More promos</a>
                </p>
            </div>
        </div>

        <div class="swiper-slide">
            <div class="slide_content">
                <div>
                    <Image width="1440" height="440" alt="4th Deposit Bonus"  class="mob-promo w-full object-cover hidden sm:block" 
                    src="https://slotsstg.wpengine.com/wp-content/uploads/2022/07/promo3-promotions3-desk.jpg" title="4th Deposit Bonus">
                    <Image width="870" height="300" alt="4th Deposit Bonus"  class="mob-promo w-full object-cover block sm:hidden" 
                    src="https://slotsstg.wpengine.com/wp-content/uploads/2022/07/promotions-page-mob-slider4.jpg" title="4th Deposit Bonus">
                </div>
                <h3 class="text-center text-2xl font-giloryExtrabold py-4">4th Deposit Bonus</h3>
                <p class="text-base font-giloryRegular font-semibold text-center mb-5">Take it easy, we’ve got you covered. On your fourth deposit you can claim a bonus up to $2,000. Use code: <strong>WELCOME4</strong>. Complete the 4 welcome bonuses and claim a prize!</p>
                <p class="text-center space-y-2"><a class="slide-btn-detail mx-2 bg-[#51135a] inline-block text-white text-lg px-12 py-2 rounded-[25px] font-giloryExtrabold font-semibold uppercase hover:bg-[#ff93aa] cursor-pointer transition-all" href="https://slotsstg.wpengine.com/promotions">Details</a> 
                    <a class="slide-btn-more mx-2 bg-[#a64485] inline-block text-white text-lg px-12 py-2 rounded-[25px] font-giloryExtrabold font-semibold uppercase hover:bg-[#ff93aa] cursor-pointer transition-all" href="https://slotsstg.wpengine.com/promotions">More promos</a>
                </p>
            </div>
        </div>
    </div>
    
  
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
    
</section>