<div>
    <div class=" font-giloryRegular ">
        <h2 class="text-[#ff688b] pb-3 font-medium font-giloryExtrabold text-3xl">
          Why Slots Paradise?
        </h2>
    </div>
    <div class="why-slots-tabs flex flex-col md:flex-row gap-3">
        <ul id="tabs" class="flex flex-col h-[460px] justify-between">
        <li class="bg-[#eee] text-[#a64485] text-center min-w-[330px] py-2 rounded-lg">
          <a href="#tab_0" class="block w-full font-giloryRegular font-semibold ">
            Your safety is our priority
          </a>
        </li>
        <li class="bg-[#eee] text-[#a64485] text-center min-w-[330px] py-2 rounded-lg">
            <a href="#tab_1" class="block w-full font-giloryRegular font-semibold ">
            Benefits of playing Casino Games Online
          </a>
        </li>
        <li class="bg-[#eee] text-[#a64485] text-center min-w-[330px] py-2 rounded-lg">
            <a href="#tab_2" class="block w-full font-giloryRegular font-semibold ">
            Casino Game Types
          </a>
        </li>
        <li class="bg-[#eee] text-[#a64485] text-center min-w-[330px] py-2 rounded-lg">
            <a href="#tab_3" class="block w-full font-giloryRegular font-semibold ">
            Reliable and Fast Payouts
          </a>
        </li>
        <li class="bg-[#eee] text-[#a64485] text-center min-w-[330px] py-2 rounded-lg">
            <a href="#tab_4" class="block w-full font-giloryRegular font-semibold ">
            Player Reviews and Site Reputation
          </a>
        </li>
        <li class="bg-[#eee] text-[#a64485] text-center min-w-[330px] py-2 rounded-lg">
            <a href="#tab_5" class="block w-full font-giloryRegular font-semibold ">
            Games Fairness
          </a>
        </li>
        <li class="bg-[#eee] text-[#a64485] text-center min-w-[330px] py-2 rounded-lg">
            <a href="#tab_6" class="block w-full font-giloryRegular font-semibold ">
            Bonuses and Promotions
          </a>
        </li>
        <li class="bg-[#eee] text-[#a64485] text-center min-w-[330px] py-2 rounded-lg">
            <a href="#tab_7" class="block w-full font-giloryRegular font-semibold ">
            Game Variety and Providers
          </a>
        </li>
        <li class="bg-[#eee] text-[#a64485] text-center min-w-[330px] py-2 rounded-lg">
            <a href="#tab_8" class="block w-full font-giloryRegular font-semibold ">
            Customer Service
          </a>
        </li>
      </ul>



      <div class="all_tabs bg-gradient-to-r from-custom-pink via-custom-purple to-transparent 
      max-w-[600px] text-white font-giloryRegular font-semibold p-7 h-[460px] rounded-lg" id="tab-contents">
        <div class="tab" id="tab_0">
          <div class="tab_content">
            <img class = "block mx-auto" width="102" height="128" alt="sp-your-safety-priority"
             src="https://cdn-ijecn.nitrocdn.com/xQDKkszZvfubgABZYAOVkLEBHdJfEQZp/assets/images/optimized/rev-0836318/slotsparadise.com/wp-content/uploads/2022/02/Group-4384.png"
            title="sp-your-safety-priority">
            
            <div class="tab-pgraph max-h-[233px] overflow-x-hidden overflow-scroll px-2">
              <p class="pb-3">
                At Slots Paradise, we value your privacy and security above all else.
                We are committed to protecting you from any form of online fraud or abuse.
              </p>
              <p class="pb-3">
                We have a strict Code of Practice that governs the conduct of our employees
                and agents concerning the collection, use, and disclosure of personal information.
                <br>
                <span>
                  We adhere to strict guidelines when it comes to data protection. This
                  means that we will never sell your details to other companies for marketing
                  purposes.
                </span>
              </p>
              <p class="pb-3">
                <span>
                  Our site uses SSL encryption technology to protect your sensitive information.
                  The SSL technology encrypts every transaction so that no one can see what
                  you enter online.
                </span>
              </p>
              <p class="pb-3">
                <span>
                  Our website has been certified as secure. This certification ensures that
                  our website meets certain data security and privacy standards.
                </span>
              </p>
              <p class="pb-3">
                <span>
                  The Paradise Slots website complies with the requirements of the US Data
                  Protection Act 2020, whereby we must notify you if we intend to share your
                  information with third parties for marketing purposes.
                </span>
              </p>
              <p class="pb-3">
                <span>
                  If you would like more information about how we handle your personal information,
                  please contact us at paradiseslots.com or through our hotlines.
                </span>
              </p>
              <p class="pb-3">
                <span>
                  Lastly, we are committed to updating our security measures regularly to
                  ensure that they remain effective. If there are changes to our policy,
                  we will post them here.
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="tab hidden" id="tab_1">
          <div class="tab_content">
            <p class="pb-3">
              <img class = "block mx-auto" width="124" height="128" alt="Benefits of playing Casino Games Online"
               src="https://cdn-ijecn.nitrocdn.com/xQDKkszZvfubgABZYAOVkLEBHdJfEQZp/assets/images/optimized/rev-0836318/slotsparadise.com/wp-content/uploads/2022/03/sp-benefits-playing-2.png"
              title="Benefits of playing Casino Games Online">
            </p>
            
            <div class="tab-pgraph max-h-[233px] overflow-x-hidden overflow-scroll pr-3">
              <p class="pb-3">
                <span>
                  Featuring the latest updates and reviews with the final goal of providing
                  players like you with the best casino experience.
                </span>
              </p>
              <p class="pb-3">
                <span>
                  Each of our casino game guides is packed full of expertly-researched material
                  that has proven positive results.
                </span>
              </p>
              <p class="pb-3">
                <span>
                  We are committed to providing a world-class experience for each of our
                  readers.
                </span>
              </p>
              <p class="pb-3">
                <span>
                  We do so by ensuring that we report the most up-to-date and accurate information
                  within each of our one-of-a-kind guides.
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="tab hidden" id="tab_2" >
          <div class="tab_content">
            <img class = "block mx-auto" width="128" height="128" alt="Casino Game Types" src="https://cdn-ijecn.nitrocdn.com/xQDKkszZvfubgABZYAOVkLEBHdJfEQZp/assets/images/optimized/rev-0836318/slotsparadise.com/wp-content/uploads/2022/03/sp-game-types.png"
            title="Casino Game Types">
            
            
            <div class="tab-pgraph max-h-[233px] overflow-x-hidden overflow-scroll pr-3">
              <p class="pb-3">
                <span>
                  At Slots Paradise, we offer a wide variety of casino games to suit your
                  needs and preferences. Our online slots are some of the most popular in
                  the industry, with more than 2000 titles available for play. Whether you’re
                  looking for classic slot machines or video poker, our selection will have
                  something to please every player.
                </span>
              </p>
              <p class="pb-3">
                <span>
                  We also offer roulette, blackjack, craps, baccarat, keno, and scratch
                  cards. If you want to try your luck at one of these table games, you can
                  do so right from the comfort of your home.
                  <br>
                </span>
              </p>
              <p class="pb-3">
                <span>
                  At Slots Paradise, we know that sometimes it’s not always about how much
                  money you win but rather what fun you have while playing! That is why we
                  strive to make sure all of our players enjoy their time on our site. All
                  of our games are designed to be easy-to-use and quick to learn, so you
                  can start having fun right away. You don’t need any special skills to get
                  started; just sign up and begin playing.
                  <br>
                </span>
              </p>
              <p class="pb-3">
                <span>
                  Without forgetting, all our games are acquired from renowned providers
                  such as Rival, Betsoft and Thunderspin. So, if you like our casino games,
                  you’ll love them too. The best part? They’re free! And they come with no
                  strings attached.
                  <br>
                </span>
              </p>
              <p class="pb-3">
                <span>
                  We also focus on the latest games and technology. This means you’ll find
                  the hottest new releases and top software providers in the business. Plus,
                  we offer daily promotions and bonuses to keep our players happy and coming
                  back for more.
                  <br>
                </span>
              </p>
              <p class="pb-3">
                <span>
                  So, whether you’re looking for a place to relax after work or you’re ready
                  to kick off your shoes and party hard, we invite you to join us today at
                  Slots Paradise Online!
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="tab hidden" id="tab_3" >
          <div class="tab_content">
            <img class = "block mx-auto" width="147" height="128" alt="Reliable and Fast Payouts" src="https://cdn-ijecn.nitrocdn.com/xQDKkszZvfubgABZYAOVkLEBHdJfEQZp/assets/images/optimized/rev-0836318/slotsparadise.com/wp-content/uploads/2022/03/sp-fast-payouts.png"
            title="Reliable and Fast Payouts">
            
            
            <div class="tab-pgraph max-h-[233px] overflow-x-hidden overflow-scroll pr-3">
              <p class="pb-3">
                <span>
                  At Slots Paradise, we offer reliable and fast payouts to our players.
                  We are a licensed casino, so you can be sure that your money is safe with
                  us. When it comes to withdrawals, we offer competitive processing times!
                </span>
              </p>
              <p class="pb-3">
                <span>
                  Our platform supports Wire transfers and Crypto payments.
                </span>
              </p>
              <p class="pb-3">
                <span>
                  You will always receive timely payouts regardless of the payments method
                  chosen. No hidden fees, no tricks.
                </span>
                <br>
                <span>
                  Our banking partners approve all the payment methods available. This means
                  that they have passed strict security checks and meet all the necessary
                  requirements. The only thing you need to do is make a deposit to play.
                </span>
              </p>
              <p class="pb-3">
                <span>
                  If you want to withdraw your winnings, simply contact our support team.
                  They will help you complete the withdrawal request as quickly as possible.
                </span>
              </p>
              <p class="pb-3">
                <span>
                  At Slots Paradise, we take pride in offering the best customer service
                  around. Our friendly staff members are ready to assist you 24/7.
                </span>
              </p>
              <p class="pb-3">
                <span>
                  If you ever have any questions about payments, deposits, bonuses, promotions,
                  or other issues related to playing at our online casino, feel free to get
                  in touch with us via email, phone, or live chat.
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="tab hidden" id="tab_4">
          <div class="tab_content">
            <img class = "block mx-auto" width="151" height="128" alt="Player Reviews and Site Reputation"
             src="https://cdn-ijecn.nitrocdn.com/xQDKkszZvfubgABZYAOVkLEBHdJfEQZp/assets/images/source/rev-0836318/slotsparadise.com/wp-content/uploads/2022/03/sp-player-reviews.png"
            title="Player Reviews and Site Reputation">
            
            
            <div class="tab-pgraph max-h-[233px] overflow-x-hidden overflow-scroll pr-3">
              <p class="pb-3">
                <span>
                  At Slots Paradise, we have a lot of fun playing slot machines online for
                  free. We are always looking to add new games that will keep us entertained
                  and provide hours of entertainment.
                </span>
              </p>
              <p class="pb-3">
                <span>
                  Our players love the variety and quality of the slot games available here.
                  You can tell from the player reviews and ratings on this site alone.
                </span>
              </p>
              <p class="pb-3">
                <span>
                  Slots Paradise has a good reputation in the gambling industry. Our team
                  of casino reviewers takes great pride in providing honest and unbiased
                  information about all of the sites they review.
                </span>
              </p>
              <p class="pb-3">
                <span>
                  Our customers rated the casino 4 out of 5 stars based on their experience
                  while visiting our website. You can read more about how we rate casinos
                  on our page about Casino Ratings.
                </span>
              </p>
              <p class="pb-3">
                <span>
                  If you want to be sure you’re getting the best possible gaming experience,
                  make sure you check out our list of recommended payment methods and deposit
                  options.
                </span>
              </p>
              <p class="pb-3">
                <span>
                  If you’re interested in reading some of the positive feedback our players
                  have left us, check out our page about Customer Satisfaction.
                </span>
              </p>
              <p class="pb-3">
                <span>
                  The more feedback we receive, the better our service becomes. If you have
                  any questions or comments, please feel free to contact us.
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="tab hidden" id="tab_5">
          <div class="tab_content">
            <img class = "block mx-auto" width="125" height="128" alt="Games Fairness" style="display:block;margin-left:auto;margin-right:auto;"
             src="https://cdn-ijecn.nitrocdn.com/xQDKkszZvfubgABZYAOVkLEBHdJfEQZp/assets/images/optimized/rev-0836318/slotsparadise.com/wp-content/uploads/2022/03/sp-games-fairness.png"
            title="Games Fairness">
            
            <div class="tab-pgraph max-h-[233px] overflow-x-hidden overflow-scroll pr-3">
              <p class="pb-3">
                <span>
                  At Slots Paradise, game fairness is our top priority. All of the games
                  are tested and certified fairly by independent auditors before they are
                  added to our site. We do not accept any unfair or deceptive games in any
                  way. We test our game fairness using three methods:
                </span>
              </p>
              <p class="pb-3">
                <strong>
                  <span>
                    Random Number Generators
                  </span>
                </strong>
                <br>
                <span>
                  In random number generator (RNG) testing, we use a computer program to
                  generate numbers at random. These numbers are then compared against the
                  expected results from an RNG. If there’s a discrepancy between what was
                  generated and what should have been generated, it means that the RNG has
                  been compromised. In other words, the RNG is cheating you out of your winnings.
                </span>
              </p>
              <p class="pb-3">
                <span>
                  To ensure that all of our games are fair, we regularly run them through
                  this process.
                </span>
              </p>
              <p class="pb-3">
                <strong>
                  <span>
                    Independent Auditors
                  </span>
                </strong>
                <br>
                <span>
                  Our second method for checking games for fairness involves hiring outside
                  auditors specializing in gaming audits. They examine each game thoroughly
                  to ensure that it meets our high standards of fairness. Once the auditors
                  are satisfied with the game’s fairness, they issue a certificate stating
                  as much. This ensures that every single game offered at Slots Paradise
                  is fair and honest.
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="tab hidden" id="tab_6">
          <div class="tab_content">
            <img class = "block mx-auto" width="141" height="128" alt="Bonuses and Promotions" src="https://cdn-ijecn.nitrocdn.com/xQDKkszZvfubgABZYAOVkLEBHdJfEQZp/assets/images/optimized/rev-0836318/slotsparadise.com/wp-content/uploads/2022/03/sp-bonuses-promotions.png"
            title="Bonuses and Promotions">
        
            <div class="tab-pgraph max-h-[233px] overflow-x-hidden overflow-scroll pr-3">
              <p class="pb-3">
                <span>
                  At Slots Paradise, bonuses and promotions are our specialties! We have
                  a wide variety of slots that feature the best bonus games around. Our slot
                  machines come with some of the biggest progressive jackpots in the industry.
                </span>
              </p>
              <p class="pb-3">
                <span>
                  Our welcoming bonus is one of the most generous you will find on any online
                  casino site. You can get up to $1,000 free when you make your first deposit
                  at Slots Paradise!
                </span>
              </p>
              <p class="pb-3">
                <span>
                  You can also earn extra cash by playing all of our other exciting slot
                  games. When you play Slots Paradise slots for real money, you’ll be able
                  to enjoy exclusive features like Free Spins, Scatter Wins, and Bonus Rounds.
                </span>
              </p>
              <p class="pb-3">
                <span>
                  Plus, we offer daily deals and weekly promotions, so you never run out
                  of ways to win big. Our daily and weekly promotions include free spins,
                  no-deposit bonuses, reload bonuses and more.
                </span>
              </p>
              <p class="pb-3">
                <span>
                  You may also enjoy the cashback offers that we regularly provide to players
                  who sign up through us.
                </span>
              </p>
              <p class="pb-3">
                <span>
                  We don’t have any hidden fees or charges. All of our bonuses and promotions
                  are clearly displayed before you sign up. So, there’s nothing to worry
                  about.
                </span>
              </p>
              <p class="pb-3">
                <span>
                  If you’ve got questions about our welcome bonus, please contact us. We’re
                  always looking for new ways to reward our loyal customers and are happy
                  to answer any questions you may have.
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="tab hidden" id="tab_7">
          <div class="tab_content">
            <img class = "block mx-auto" width="127" height="128" alt="Game Variety and Providers" src="https://cdn-ijecn.nitrocdn.com/xQDKkszZvfubgABZYAOVkLEBHdJfEQZp/assets/images/optimized/rev-0836318/slotsparadise.com/wp-content/uploads/2022/03/sp-game-variety-providers.png"
            title="Game Variety and Providers">
            
            <div class="tab-pgraph max-h-[233px] overflow-x-hidden overflow-scroll pr-3">
              <p class="pb-3">
                <span>
                  At Slots Paradise, we understand that you want to play the games you like.
                  That’s why we have a wide variety of slot machines from top providers,
                  including slots, video poker, keno, bingo, and more! We also offer a large
                  selection of online casino games for our players.
                </span>
              </p>
              <p class="pb-3">
                <span>
                  Most of our games have free trials, so you can try them out before committing
                  to any real money deposit. New games are being continuously added for your
                  enjoyment and entertainment.
                </span>
              </p>
              <p class="pb-3">
                <span>
                  If you are looking for a place where you can find all of these great games
                  in one location, then look no further than Slots Paradise. Our site is
                  easy to navigate and has a clean layout with plenty of information about
                  each game.
                </span>
              </p>
              <p class="pb-3">
                <span>
                  You will be able to see what other people think about each game and how
                  much they like it. This way, you won’t waste time playing games that don’t
                  suit you or your budget.
                </span>
              </p>
              <p class="pb-3">
                <span>
                  We know that when you visit us, you expect to find only the best quality
                  games at the lowest prices. Our gaming partners include some of the most
                  trusted names in the industry, such as Nucleus Gaming, Betsoft, Dragon
                  Gaming, Rival, Mancala and Zeus Play. Therefore, you are sure that you
                  will get only the highest quality games available on the web.
                </span>
              </p>
              <p class="pb-3">
                <span>
                  Our team of experts is ready to help you choose the right game based on
                  your personal preferences. Whether you prefer classic slot machines, progressive
                  jackpot slots, or table games, we’ve got you covered.
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="tab hidden" id="tab_8">
          <div class="tab_content">
            <p class="pb-3">
              <img class = "block mx-auto" width="97" height="128" alt="Customer Service" 
               src="https://cdn-ijecn.nitrocdn.com/xQDKkszZvfubgABZYAOVkLEBHdJfEQZp/assets/images/source/rev-0836318/slotsparadise.com/wp-content/uploads/2022/03/sp-customer-service.png"
              title="Customer Service">
            </p>
            <div class="tab-pgraph max-h-[233px] overflow-x-hidden overflow-scroll pr-3">
              <p class="pb-3">
                <span>
                  At Slots Paradise, we pride ourselves in the best customer service available
                  on the web. We are always here to help you with any questions or concerns
                  that you may have. Our friendly and knowledgeable staff is ready to assist
                  you at any time of day!
                </span>
              </p>
              <p class="pb-3">
                <span>
                  We have online chat support for all your questions 24/7. You can also
                  call us toll-free if you prefer. Besides, our social media handles are
                  always active, so feel free to ask a question there as well.
                </span>
              </p>
              <p class="pb-3">
                <span>
                  Players can enquire about their account by visiting the “My Account” section
                  of the website. Here they will find all the information regarding their
                  current balance, pending transactions, etc. They can also check out the
                  FAQs page to get answers to some common queries.
                </span>
              </p>
              <p class="pb-3">
                <span>
                  If players want to make changes to their account, then they need to log
                  into their account first. Once logged in, they can go ahead and change
                  their password, email address, phone number, etc.
                </span>
              </p>
              <p class="pb-3">
                <span>
                  Players can also update their billing details. If you want assistance
                  with all these things, then do not hesitate to contact our customer care
                  team via live chat, telephone, or email.
                </span>
              </p>
              <p class="pb-3">
                <span>
                  Lastly, you can leave your details so that the available agents can reach
                  you whenever required.
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script>
   let tabsContainer = document.querySelector("#tabs");

let tabTogglers = tabsContainer.querySelectorAll("#tabs a");

console.log(tabTogglers);

tabTogglers.forEach(function(toggler) {
  toggler.addEventListener("click", function(e) {
    e.preventDefault();

    let tabName = this.getAttribute("href");

    let tabContents = document.querySelector("#tab-contents");

    for (let i = 0; i < tabContents.children.length; i++) {
      
      tabTogglers[i].parentElement.classList.remove("bg-[#a64485]" , "text-white");  
      tabTogglers[i].parentElement.classList.add("bg-[#eee]" , "text-[#a64485]");
      tabContents.children[i].classList.remove("hidden");
      if ("#" + tabContents.children[i].id === tabName) {
        continue;
      }
      tabContents.children[i].classList.add("hidden");
      
    }
    e.target.parentElement.classList.add("bg-[#a64485]" , "text-white");
    e.target.parentElement.classList.remove("bg-[#eee]" , "text-[#a64485]");
  });
});

  </script>