<div class="menu_container bg-[#eee] h-max rounded-lg p-6 w-full md:w-1/4"> 
    <h3 class="text-[#2f0536] text-[22px]">Choose a Lesson</h3>
        <div id="shortcode-container"></div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const ajaxurl = 'https://slotsstg.wpengine.com/wp-admin/admin-ajax.php';
    
        // Make the AJAX request
        fetch(ajaxurl, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
            },
            body: 'action=schoolmenu_shortcode_html',
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Update the content of the container with the shortcode result
                    document.getElementById('shortcode-container').innerHTML = data.data;

                    //adding arrow icon and functionality

                    const menuChild = document.querySelectorAll("li.page_item_has_children");

                    menuChild.forEach((item, index) => {
                        // Append the <span class="arrrow-icon"></span> to each item
                        const spanElement = document.createElement('span');
                        spanElement.className = 'arrrow-icon';
                        item.appendChild(spanElement);

                        // Hide the corresponding child element by default
                        const childElement = item.querySelector('.children');
                        if (childElement) {
                            childElement.classList.add('hidden');
                        }

                        // Add click event listener to each span
                        spanElement.addEventListener('click', function () {
                            // Toggle the 'hidden' class on the corresponding child element
                            if (childElement) {
                                childElement.classList.toggle('hidden');
                                // Add or remove the 'rotate-90' class on the span element
                                spanElement.classList.toggle('rotate-90', !childElement.classList.contains('hidden'));
                            }
                        });
                    });



                } else {
                    // Handle errors
                    console.error('Error fetching shortcode:', data.data);
                }
            })
            .catch(error => {
                // Handle fetch errors
                console.error('Fetch error:', error);
            });

            
        
    });
    

    
</script>