---
/* export const prerender = true; */
import { GuideSidebar } from "../lib/api";

const data = await GuideSidebar();
//console.log(data);
const items = data.sectionsBasepress.edges;
//console.log(items);

//const subitems = items[0].node.basepress.edges[0].node.title;
//console.log(subitems);
---

<aside
  class="bpress-sidebar bpress-float-right menu_container bg-[#eee] h-max rounded-lg p-6 w-full md:w-1/4"
>
  {
    items.map((item) => (
      <div class="">
        <details class="group">
          <summary class="flex justify-between items-center font-medium cursor-pointer list-none hover:bg-white p-2 rounded">
            <span class="bpress-nav-item flex space-x-2">
              <i class="fa italic block text-sm">&#xf02d;</i>
              <span class="bpress-nav-item-title block font-giloryRegular font-semibold">
                {item.node.name}
              </span>
            </span>
            <span class="transition group-open:rotate-180">
              <svg
                fill="none"
                height="24"
                shape-rendering="geometricPrecision"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
                viewBox="0 0 24 24"
              >
                <path d="M6 9l6 6 6-6" />
              </svg>
            </span>
          </summary>

          {item.node.basepress.edges.length > 0 && (
            <p class="text-neutral-600 my-2 group-open:animate-fadeIn bg-white p-2 ml-2 ">
              {item.node.basepress.edges.map((subitem) => (
                <a
                  href={subitem.node.uri}
                  class="flex space-x-1 mb-1 hover:bg-[#eee] p-2"
                >
                  <i class="fa text-gray-400 pr-1 pt-1 block">&#xf059;</i>
                  <span class="bpress-nav-item-title">
                    {subitem.node.title}
                  </span>
                </a>
              ))}
            </p>
          )}
        </details>
      </div>
    ))
  }
</aside>
