---
import Navigation from "./Navigation.astro";
---

<header class="new-nav-header fixed min-w-full bg-white z-50 top-0">
  <div class="header-section">
    <ul
      class="promos flex justify-center items-center space-x-6 py-4 border-b-[1px]"
    >
      <li class="flex space-x-1">
        <img
          src="https://slotsparadise.com/wp-content/themes/slotsparadise/images/star-ico.svg"
          alt="star icon"
        />
        <a
          href="https://slotsparadise.com/promotions"
          class="font-medium text-[#FD106A] text-xl">PROMOTIONS</a
        >
      </li>
      <li class="flex space-x-1">
        <img
          src="https://slotsparadise.com/wp-content/themes/slotsparadise/images/star-ico.svg"
          alt="star icon"
        />
        <a class="font-medium text-[#FD106A] text-xl" href="/the-beach"
          >THE BEACH</a
        >
      </li>
    </ul>

    <div class="header-row flex justify-between items-center py-8 px-2">
      <Navigation />
    </div>
  </div>
</header>
