---
import { Icon } from "astro-icon";
---

<div class="flex items-center">
  <div id="menu-toggle" class="mr-4 sm:mr-8">
    <div class="burger-icon cursor-pointer">
      <div class="">
        <a id="hamburger-icon" href="#" class="open-close-btn"
          ><span></span>
          <span></span>
          <span></span>
          <span></span></a
        >
      </div>

      <div id="myNav" class="overlay">
        <div class="overlay-outer-content">
          <div class="overlay-content">
            <ul id="menu-main-menu" class="et-menu nav">
              <li id="menu-item-1990" class="game-sub-menu dropdown-list">
                <div class="drop w-full">
                  <div class="flex w-full justify-between items-center">
                    <div class="flex items-center">
                      <img
                        src="https://slotsparadise.com/wp-content/themes/slotsparadise/images/all-games-ico-purple.svg"
                        alt="games-icon"
                        class="w-12 pr-4"
                      />
                      <span class="block games">Games</span>
                    </div>

                    <div class="dropdown right">
                      <span class="down-caret"
                        ><Icon name="ep:arrow-right-bold" /></span
                      >
                    </div>
                  </div>
                </div>
                <ul class="sub-menu dropdown-menu">
                  <li id="menu-item-478" class="flex items-center">
                    <img
                      src="https://slotsparadise.com/wp-content/themes/slotsparadise/images/all-games-ico-purple.svg"
                      alt="games-icon"
                      class="w-12 pr-4"
                    />
                    <a href="https://slotsparadise.com/all-games">ALL GAMES</a>
                  </li>
                  <li id="menu-item-480" class="flex items-center">
                    <img
                      src="https://slotsparadise.com/wp-content/themes/slotsparadise/images/new-game-ico.svg"
                      alt="games-icon"
                      class="w-12 pr-4"
                    />
                    <a href="https://slotsparadise.com/new-games">NEW GAMES</a>
                  </li>
                  <li id="menu-item-1462" class="flex items-center">
                    <img
                      src="https://slotsparadise.com/wp-content/themes/slotsparadise/images/popular-ico-purple.svg"
                      alt="games-icon"
                      class="w-12 pr-4"
                    />
                    <a href="https://slotsparadise.com/popular-games"
                      >POPULAR GAMES</a
                    >
                  </li>
                  <li id="menu-item-481" class="flex items-center">
                    <img
                      src="https://slotsparadise.com/wp-content/themes/slotsparadise/images/slots-ico.svg"
                      alt="games-icon"
                      class="w-12 pr-4"
                    />
                    <a href="https://slotsparadise.com/slots">SLOTS</a>
                  </li>
                  <li id="menu-item-486" class="flex items-center">
                    <img
                      src="https://slotsparadise.com/wp-content/themes/slotsparadise/images/jackpots-ico-purple.svg"
                      alt="games-icon"
                      class="w-12 pr-4"
                    />
                    <a href="https://slotsparadise.com/jackpot-games"
                      >JACKPOT GAMES</a
                    >
                  </li>
                  <li id="menu-item-483" class="flex items-center">
                    <img
                      src="https://slotsparadise.com/wp-content/themes/slotsparadise/images/table-games-ico.svg"
                      alt="games-icon"
                      class="w-12 pr-4"
                    />
                    <a href="https://slotsparadise.com/table-games"
                      >TABLE GAMES</a
                    >
                  </li>
                  <li id="menu-item-1463" class="flex items-center">
                    <img
                      src="https://slotsparadise.com/wp-content/themes/slotsparadise/images/live-dealer-ico-purple.svg"
                      alt="games-icon"
                      class="w-12 pr-4"
                    />
                    <a href="https://slotsparadise.com/live-dealer"
                      >LIVE DEALER</a
                    >
                  </li>
                  <li id="menu-item-1464" class="flex items-center">
                    <img
                      src="https://slotsparadise.com/wp-content/themes/slotsparadise/images/poker-ico-purple.svg"
                      alt="games-icon"
                      class="w-12 pr-4"
                    />
                    <a href="https://slotsparadise.com/video-games/"
                      >VIDEO POKER</a
                    >
                  </li>
                  <li id="menu-item-487" class="flex items-center">
                    <img
                      src="https://slotsparadise.com/wp-content/themes/slotsparadise/images/other-ico-purple.svg"
                      alt="games-icon"
                      class="w-12 pr-4"
                    />
                    <a href="https://slotsparadise.com/other-games"
                      >OTHER GAMES</a
                    >
                  </li>
                </ul>
              </li>
              <li id="menu-item-1465" class="flex items-center">
                <img
                  src="https://slotsparadise.com/wp-content/themes/slotsparadise/images/about-us-ico-purple.svg"
                  alt="games-icon"
                  class="w-12 pr-4"
                />
                <a href="https://slotsparadise.com/about-us">ABOUT US</a>
              </li>
              <li id="menu-item-1466" class="flex items-center">
                <img
                  src="https://slotsparadise.com/wp-content/themes/slotsparadise/images/wallet-ico-purple.svg"
                  alt="games-icon"
                  class="w-12 pr-4"
                />
                <a href="https://slotsparadise.com/banking">BANKING</a>
              </li>
              <li id="menu-item-1467" class="flex items-center">
                <img
                  src="https://slotsparadise.com/wp-content/themes/slotsparadise/images/contact-us-ico-purple.svg"
                  alt="games-icon"
                  class="w-12 pr-4"
                />
                <a href="https://slotsparadise.com/contact-us">CONTACT US</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="logo-img relative z-50">
    <a href="http://slotsparadise.com">
      <span class="et_pb_image_wrap">
        <img
          width="240"
          height="82"
          alt="slot paradise logo"
          title="slot paradise logo"
          class=""
          src="https://slotsparadise.com/wp-content/uploads/2022/02/Group-2796.png"
        />
      </span>
    </a>
  </div>
</div>

<div class="login-join-container flex justify-end items-center w-1/2">
  <div class="px-2 sm:px-4">
    <a
      class="login-btn border-2 hover:border-[#FD106A] px-4 sm:px-10 py-2 sm:py-4 inline-block rounded-full hover:text-[#FD106A] text-[#1C8FDF] border-[#1C8FDF] text-sm sm:text-[22px]"
      href="https://slotsparadise.com/#login">Login</a
    >
  </div>

  <div>
    <a
      class="join-btn border-2 hover:border-[#FD106A] px-4 sm:px-10 py-2 sm:py-4 inline-block rounded-full hover:bg-[#FD106A] text-[#ffffff] border-[#1C8FDF] bg-[#1C8FDF] text-sm sm:text-[22px]"
      href="https://slotsparadise.com/#register">Join</a
    >
  </div>
</div>

<style>
  .new-nav-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
  }
  .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-y: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    /* transition: 0.1s; */
  }

  .overlay-open {
    height: 100%;
  }

  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    margin-top: 30px;
  }

  .overlay-outer-content {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 6%;
    background: #fff;
    height: 100%;
    width: 400px;
    max-width: 100%;
  }

  .overlay li {
    margin-bottom: 8px;
  }

  .overlay a,
  span.games {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: 0.3s;
    /*width: 30%; */
    color: #a64485;
    font-size: 22px;
    /* padding-bottom: 8px; */
    font-weight: 600;
    font-family: "Gilroy-Medium";
  }

  .overlay a:hover,
  span.games:hover {
    color: #a64485;
    opacity: 0.6;
  }

  .open-close-btn {
    position: relative;
    left: 5px;
    text-decoration: none;
    z-index: 10;
  }

  /* Hamburger Icon */
  #hamburger-icon {
    display: inline-block;
    width: 40px;
    height: 30px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  #hamburger-icon span {
    display: inline-block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #e4376c;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    margin-top: 6px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  /* Hamburger Lines  */

  #hamburger-icon span:nth-child(1) {
    top: 0px;
  }

  #hamburger-icon span:nth-child(2),
  #hamburger-icon span:nth-child(3) {
    top: 12px;
    width: 70%;
  }

  #hamburger-icon span:nth-child(4) {
    top: 24px;
  }

  #hamburger-icon.hamburger-open span {
    background: #e4376c;
    /* margin-left: 2%; */
  }

  #hamburger-icon.hamburger-open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  #hamburger-icon.hamburger-open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #hamburger-icon.hamburger-open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #hamburger-icon.hamburger-open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  @media screen and (max-height: 450px) {
    .overlay {
      overflow-y: auto;
    }
  }

  @media screen and (max-width: 600px) {
    #hamburger-icon {
      width: 30px;
    }
    .overlay-outer-content {
      width: 80%;
    }
    .overlay-outer-content {
      padding-left: 10%;
    }
    .overlay a,
    span.games {
      font-size: 16px;
    }
  }

  .game-sub-menu {
    position: relative;
  }

  /**
  submenu css
   */

  .dropdown {
    position: relative;
    width: 100%;
    text-align: right;
    padding-right: 20px;
  }

  .right {
    width: 50px;
  }

  .down-caret {
    display: block;
    color: #a64485;
  }

  .dropdown-menu {
    width: 100%;
    padding: 0;
    position: absolute;
    display: none;
    transition: all 0.55s linear;
  }

  .open {
    padding-left: 20px;
    position: relative;
    display: block;
    transition: all 0.25s linear;
  }

  .open li > a {
    display: block;
    text-align: left;
    transition: all 0.25s linear;
    line-height: 2em;
  }

  .open-caret {
    transform: rotate(90deg);
    transition: all 0.25s ease-out;
  }
</style>

<script>
  const openCloseBtns = document.querySelectorAll(".open-close-btn");

  openCloseBtns.forEach(function (btn) {
    btn.addEventListener("click", function (e) {
      e.preventDefault();
      document.querySelectorAll(".overlay").forEach(function (overlay) {
        overlay.classList.toggle("overlay-open");
      });
      document.querySelectorAll("#hamburger-icon").forEach(function (icon) {
        icon.classList.toggle("hamburger-open");
      });
    });
  });

  const dropBtn = document.querySelectorAll(".dropdown-list");

  dropBtn.forEach(function (btn) {
    btn.addEventListener("click", function (e) {
      e.preventDefault();
      document.querySelectorAll(".dropdown-menu").forEach(function (open) {
        open.classList.toggle("open");
      });

      document.querySelectorAll(".down-caret").forEach(function (icon) {
        icon.classList.toggle("open-caret");
      });
    });
  });
</script>
