<div id="search-container" class="text-black"></div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const ajaxurl = "https://slotsstg.wpengine.com/wp-admin/admin-ajax.php";

    // Make the AJAX request
    fetch(ajaxurl, {
      method: "POST",
      headers: {
        "Content-Type": "application/x-www-form-urlencoded; charset=UTF-8",
      },
      body: "action=search_shortcode_html",
    })
      .then((response) => response.text())
      .then((data) => {
        // Update the content of the container with the sanitized result
        document.getElementById("search-container").innerHTML = data;
      })
      .catch((error) => {
        // Handle fetch errors
        console.error("Fetch error:", error);
      });
  });
</script>
