---
//console.log(lastPart);

const query = `query GetPostsBySlug {
  posts(where: {name: "burning-aces-jackpot-game"}) {
    edges {
      node {
        slug
        blocks {
          ... on CoreShortcodeBlock {
            attributesJSON
            originalContent
          }
        }
      }
    }
  }
}`;

const response = await fetch(`https://slotsstg.wpengine.com/graphql`, {
  method: "POST",
  headers: {
    "content-type": "application/json",
  },
  body: JSON.stringify({ query }),
}).then((response) => response.json());

//console.log(response);
const posts = response.data.posts.edges;
---

<!-- Your container to display the shortcode result -->{
  posts.map((post) => {
    const firstDynamicBlock = post.node.blocks.find(
      (block) => block.originalContent
    );

    if (firstDynamicBlock) {
      return <div>{firstDynamicBlock.originalContent}</div>;
    }
  })
}
