---
const url = Astro.request.url;
console.log(url);

import {
  FacebookShareButton,
  TwitterShareButton,
  SocialShare,
} from "astro-social-share";

//const BUTTONS = [TwitterShareButton, FacebookShareButton];
---

<!--https://github.com/silent1mezzo/astro-social-share -->
<FacebookShareButton>
  <svg
    class="w-[20px]"
    xmlns="http://www.w3.org/2000/svg"
    x="0px"
    y="0px"
    width="40"
    height="40"
    viewBox="0 0 50 50"
  >
    <linearGradient
      id="Ld6sqrtcxMyckEl6xeDdMa_uLWV5A9vXIPu_gr1"
      x1="9.993"
      x2="40.615"
      y1="9.993"
      y2="40.615"
      gradientUnits="userSpaceOnUse"
      ><stop offset="0" stop-color="#2aa4f4"></stop><stop
        offset="1"
        stop-color="#007ad9"></stop></linearGradient
    ><path
      fill="url(#Ld6sqrtcxMyckEl6xeDdMa_uLWV5A9vXIPu_gr1)"
      d="M24,4C12.954,4,4,12.954,4,24s8.954,20,20,20s20-8.954,20-20S35.046,4,24,4z"
    ></path><path
      fill="#fff"
      d="M26.707,29.301h5.176l0.813-5.258h-5.989v-2.874c0-2.184,0.714-4.121,2.757-4.121h3.283V12.46 c-0.577-0.078-1.797-0.248-4.102-0.248c-4.814,0-7.636,2.542-7.636,8.334v3.498H16.06v5.258h4.948v14.452 C21.988,43.9,22.981,44,24,44c0.921,0,1.82-0.084,2.707-0.204V29.301z"
    ></path>
  </svg>
</FacebookShareButton>

<TwitterShareButton>
  <svg
    class="w-[20px]"
    xmlns="http://www.w3.org/2000/svg"
    width="30"
    height="30"
    viewBox="0 0 50 50"
  >
    <path
      d="M5.92 6L20.58 27.38L6.23 44L9.41 44L21.99 29.42L31.99 44L44 44L28.68 21.67L42.2 6L39.03 6L27.28 19.62L17.93 6L5.92 6zM9.72 8L16.88 8L40.2 42L33.04 42L9.72 8z"
    ></path>
  </svg>
</TwitterShareButton>

<div>
  <span class="tooltip relative inline-block">
    <a href="javascript:void(0)" class="copyLink block">
      <svg
        class="w-[20px]"
        width="20"
        height="20"
        xmlns="http://www.w3.org/2000/svg"
        data-url={url}
        role="img"
      >
        <image
          href="https://slotsstg.wpengine.com/wp-content/themes/slotsparadise/images/link.svg"
          height="20"
          width="20"
          class="cursor-pointer"
        />
      </svg>
    </a>
    <span
      class="tooltip-text invisible w-[120px] bg-[#000] text-white text-center rounded p-[5px] absolute z-10 bottom-[125%] left-1/2 translate-x-[-50%] opacity-0 transition-opacity duration-[0.6s]"
      >Link copied</span
    >
  </span>
</div>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function () {
    let allButtons = document.querySelectorAll(".copyLink");
    if (allButtons.length > 0) {
      allButtons.forEach(function (button) {
        button.addEventListener("click", copyPostLink);
      });
    }
  });
  function copyPostLink(event) {
    event.preventDefault();

    const url = event.currentTarget.getAttribute("data-url")
      ? event.currentTarget.getAttribute("data-url")
      : window.location.href;

    navigator.clipboard
      .writeText(url)
      .then(() => {
        event.target.parentNode.parentNode.parentNode.classList.add("active");
        setTimeout(() => {
          event.target.parentNode.parentNode.parentNode.classList.remove(
            "active"
          );
        }, 1500);
      })
      .catch((error) => {
        console.error("Failed to copy URL to clipboard:", error);
      });
  }
</script>
